@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Franklin:wght@100&family=Nunito:wght@300&family=Poppins:wght@300&family=Raleway:wght@300&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F0DB4F;
}

body{
    font-family: 'Poppins', sans-serif;
}

.title {
    font-size: 150px;
    text-shadow: 0 0 50px;
    color: white;
    position: absolute;
    width: 30%;
    left: 22%;
    margin-bottom: 20px;
}

.text-1, .text-2 {
    color: white;
    margin-bottom: 50px;
}

#subtitle-1 { 
    font-size: 35px;
    text-shadow: 0 0 50px;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 10%;
}

#subtitle-2 {
    font-size: 35px;
    text-shadow: 0 0 50px;
    width: 35%;
    position: absolute;
    top: 120%;
    left: 10%;
}

#paragraph-1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    width: 60%;
    position: absolute;
    left: 20%;
    top: 62%;
}

#paragraph-2 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    width: 65%;
    position: absolute;
    left: 20%;
    top: 72%;
}

#paragraph-3 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    width: 65%;
    position: absolute;
    left: 20%;
    top: 82%;
}

#paragraph-4 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    width: 65%;
    position: absolute;
    left: 20%;
    top: 132%;
}

#paragraph-5 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    width: 65%;
    position: absolute;
    left: 20%;
    top: 142%;
}

#paragraph-6 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    width: 65%;
    position: absolute;
    left: 20%;
    top: 152%;
}

#paragraph-7 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    width: 65%;
    position: absolute;
    left: 20%;
    top: 162%;
}

#font-1 {
    position: absolute;
    text-shadow: 0 0 30px white;
    top: 100%;
    left: 20%;
}

#font-2 {
    position: absolute;
    text-shadow: 0 0 30px white;
    top: 182%;
    left: 20%;
}

#link {
    color: white;
}

#image-html, #image-css, #image-js {
    position: absolute;
    margin-bottom: 50px;
}

#image-html {
    top: 200%;
    left: 10%;
    border-radius: 50%;
}

#image-css {
    top: 200%;
    left: 37%;
    border-radius: 50%;
}

#image-js {
    top: 200%;
    left: 62%;
    border-radius: 10%;
}

#html, #css, #javascript {
    font-size: 50px;
    position: absolute;
}

#html {
    left: 15%;
    top: 240%;
}

#css {
    left: 43%;
    top: 240%;
}

#javascript {
    left: 69%;
    top: 240%;
}

#paragraph-footer {
    position: relative;
    font-size: 20px;
    padding: 0.3%;
    top: 1550px;
    color: black;
    background: #ffea64;
}
    
#link-2 {
    color: black;
    background: #ffea64; 
}
